
#loading {
    background-color: #828;
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 1s ease;
}

#loading .wrapper {
    margin: 10% 0;
}

#loading.hidden {
    opacity: 0;
}

#loading #loading-animation {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    opacity: 1; /* js overrides after loaded */
    -webkit-transition: opacity 1s ease;
}

#loading h1 {
    font-size: 200%;
    text-align: center;
    -webkit-transition: color 1s ease;
}

#loading.error h1 {
    color: #b22;
}