
#loading {
    background-color: #828;
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 1s ease, background-color 1s ease, top 1s ease;
    z-index: 100;
}

#loading .wrapper {
    margin: 10% 0;
}

#loading.hidden {
    opacity: 0;
}

#loading #loading-animation {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
}

#loading h1 {
    font-size: 200%;
    text-align: center;
    -webkit-transition: color 1s ease;
}

#loading.error {
    background-color: #b22;
    opacity: 1;
}